<a href="https://colab.research.google.com/github/ashika69/ML-Basics/blob/main/basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Program to print even numbers

In [ ]:
for i in range(0,100):
  if i%2==0:
    print( i ,end = ' ')

0 2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98

sum of N natural number

In [ ]:
sum = 0
n = int(input("enter N :"))
for i in range(n+1):
  sum = sum + i
print(sum)

enter N :10
55

printing patterns

In [ ]:
for i in range(4): #row
  for j in range(4): #column
    print('*' , end = ' ')
  print() #new line

* * * *
* * * *
* * * *
* * * *

In [ ]:
for i in range(4):
  for j in range(i+1):
    print('*' , end = ' ')
  print()

*
* *
* * *
* * * *

Largest Among Three numbers

In [ ]:
a = int(input('enter 1st number :'))
b = int(input('enter 1st number :'))
c = int(input('enter 1st number :'))
if (a>b and a>c):
  print(f"Largest Number is a:" ,a)
elif (b>a and b>c):
  print(f"Largest Number is b:" , b)
else:
  print(f"Largest Number is c:" , c)

enter 1st number :10
enter 1st number :20
enter 1st number :30
Largest Number is c: 30

Swapping using temp variable

In [ ]:
a = 10
b = 20
print('a value before swap :' , a)
print('b value before swap :' , b)
temp = a
a = b
b = temp
print('a value after swap :' , a)
print('b value after swap :' , b)

a value before swap : 10
b value before swap : 20
a value after swap : 20
b value after swap : 10

Swapping without temp

In [ ]:
a = 10
b = 20
print('a value before swap :' , a)
print('b value before swap :' , b)
a,b = b,a
print('a value after swap :' , a)
print('b value after swap :' , b)

a value before swap : 10
b value before swap : 20
a value after swap : 20
b value after swap : 10

Check vowels

In [ ]:
ch = input('enter a character:')
if (ch=='a' or ch=='e' or ch =='i' or ch=='o' or ch == 'u'):
  print('character is vowel ' , ch)
else:
  print('character is not vowel :' , ch)

enter a character:h
character is not vowel : h

Prime Number using Functions

In [ ]:
def prime(num):
  for i in range(2,num):
    if num%i == 0:
      print('not a prime number' , num)
      break
    else:
      print('prime number' , num)
      break

prime(11)

prime number 11

LCM of two numbers

In [ ]:
def lcm(num1,num2):

  if num1>num2:
    grt = num1
  else:
    grt = num2
  while True:
    if(grt%num1 == 0) and(grt%num2==0):
      lcm = grt
      break
    grt+1
  return lcm

In [ ]:
x = 5
y=10
print('Lcm of 2 numbers:' , lcm(x,y))

Lcm of 2 numbers: 10

Celsius to Farhenit

In [ ]:
c = [0,30.15,29.8,35.9]
f = [ (9/5 * temp) for temp in c]
f

[0.0, 54.269999999999996, 53.64, 64.62]

Random Guessing Game

In [ ]:
import random
score = 10
random_number = random.randint(0,100)
user_input = int(input("enter the guess number:"))
if user_input == random_number:
  print("Number guess is correct")
  score = score + 1
  print(score)
else:
  print("number incorrect")

enter the guess number:1000
number incorrect

Factorial of a Number

In [ ]:
def fact(num):
  fact = 1
  for i in range(1,num+1):
    fact = fact*i
  print("factorial of a number:" ,fact)

In [ ]:
fact(5)

factorial of a number: 120

Fibonacci Series

In [ ]:
def fibo(n):
  a = 0
  b = 1
  for i in range(0,n):
    temp = a
    a = b
    b = temp+a
  return a
nterms = int(input("enter number of elements in series: "))
for c in range(0,nterms):
  print( fibo(c), end = ' ')

enter number of elements in series: 10
0 1 1 2 3 5 8 13 21 34

Functions -** lamboda**,** map()** - maps a iterate for function [syntax : map(func,obj)]
**filter()**- maps a iterate function with condition[syntax : filter(fun,obj)]

In [ ]:
def square(num):
  return num**2

num = [2,3,4,5,6,7,8,9,10]

print("list before sqaure:" , num)

m = list(map(square,num))

print("list after square : " ,m)

list before sqaure: [2, 3, 4, 5, 6, 7, 8, 9, 10]
list after square :  [4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
def iseven(num):
  if num%2==0: #checks the cond'n for iteration
    return num
n = list(filter(iseven , num))

print ("even numbers:" , n)

even numbers: [2, 4, 6, 8, 10]

In [ ]:
x = lambda a,b:a+b
res = x(3,4)
print("sum of 2 numbers:" , res)

sum of 2 numbers: 7